asgiref
certifi
cffi
chardet
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-heroku
html2text
gunicorn
idna
oauthlib
psycopg2
psycopg2-binary
pycparser
PyJWT
python3-openid
python-dotenv
pytz
requests
requests-oauthlib
sqlparse
urllib3
whitenoise