{% extends "exercise_gamification/base.html" %}
{% block content %}
<div class="container-fluid d-flex flex-column">
  <div class="mb-3">
    <h1>Choose your workout type</h1>
  </div>

  <form action="{% url 'exercise_gamification:redirect_workout' %}"
    method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label">Select Workout Type</label><br>
      <input type="radio"
        id="cardio"
        name="workout_type"
        value="cardio">
      <label for="cardio">Cardio</label><br>
      <input type="radio"
        id="strength"
        name="workout_type"
        value="strength">
      <label for="strength">Strength</label><br>
      <input type="radio"
        id="other_workout"
        name="workout_type"
        value="other">
      <label for="other_workout">Other</label><br>
    </div>
    <input type="submit"
      value="Next">
  </form>
</div>



{% endblock content %}