{% extends "exercise_gamification/base.html" %}
{% block content %}
<div class="container-fluid d-flex flex-column">
  <div class="mb-3">
    <h1>Edit Profile</h1>
  </div>

  <form action="{% url 'exercise_gamification:save_profile' %}"
    method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name"
        class="form-label">Name</label><br>
      <input type="text"
        name="name"
        placeholder="Enter full name"
        required>
    </div>
    <div class="form-group">
      <label for="username"
        class="form-label">Username</label><br>
      <input type="text"
        name="username"
        placeholder="Enter username"
        required>
    </div>
    <div class="form-group">
      <label for="email"
        class="form-label">Email</label><br>
      <input type="text"
        name="email"
        placeholder="Enter email"
        required>
    </div>
    <div class="form-group">
      <label for="bio"
        class="form-label">Bio</label><br>
      <textarea name="bio"></textarea>
    </div>
    <input type="submit"
      value="Save">
  </form>
  {% if user_exists %}
  <div class="alert alert-danger"
    role="alert">
    Username already exists!
  </div>
  {% endif %}
</div>


{% endblock content %}