{% extends "exercise_gamification/base.html" %}
{% block content %}
<div class="container-fluid d-flex flex-columns">
  <div class="text-dark ">

    {% if user.is_authenticated %}
    <h1>{{ profile.name }}</h1>
    <h4>{{ profile.username }}</h4>
    {% if profile.username == user.username %}
    <a href="{% url 'exercise_gamification:edit_profile' %}">Edit Profile</a><br>
    <a href="{% url 'exercise_gamification:friends' %}">Friends</a><br><br>
    {% else %}
    {% if friends == 'yes' %}
    <a href="{% url 'exercise_gamification:remove_friend' profile.username %}">-Remove Friend</a><br><br>
    {% else %}
    <a href="{% url 'exercise_gamification:add_friend' profile.username %}">+Add Friend</a><br><br>
    {% endif %}
    {% endif %}
    <p>Level: {{ profile.level }}</p>
    <p>{{ profile.xp }} XP</p></br>
    <p>Bio:</p>
    <p>{{ profile.bio }}</p>
    {% else %}
    <h4>Please Log in</h4>
    {% endif %}

  </div>
</div>

{% endblock content %}