{% extends "exercise_gamification/base.html" %}
{% block content %}


<div class="container-fluid d-flex flex-column">
  <div class="mb-5">
    <h1>Your Workouts</h1>
    <a href="{% url 'exercise_gamification:choose_workout' %}">New Workout</a>
  </div>

  <div class="div container p-0">
    <div class="row">
      {% for workout in workouts reversed %}
      <div class="div col-4 mb-5">
        <div class="form-group">
          <h4>{{ workout.name }}</h4>
          <p>Date: {{ workout.date }}</p>
          <p>Estimated Calories: {{ workout.estimated_calories }}</p>
          {% if workout.cardio_workout %}
          <p>Duration: {{ workout.cardio_workout.duration }} minutes</p>
          <p>Distance: {{ workout.cardio_workout.distance }} meters</p>
          {% elif workout.strength_workout %}
          <p>Repititions: {{ workout.strength_workout.repetitions }}</p>
          {% if not workout.strength_workout.bodyweight %}
          <p>Weight: {{ workout.strength_workout.weight }} lbs</p>
          {% else %}
          <p>Weight: 0 lbs (Bodyweight)</p>
          {% endif %}
          {% elif workout.other_workout %}
          <p>Description: {{ workout.other_workout.description }}</p>
          {% endif %}
          <p>Additional Notes: {{ workout.notes }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>


{% endblock content%}